body {
  display: flex;
  align-items: space-between;
  flex-direction: column;
  font-family: Noto serif, serif;
  margin: 0;
  padding: 0;
  background-color: rgb(239, 239, 239);
  line-height: 2em;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.trybewarts-login {
  display: flex;
  align-items: center;
}

#trybewarts-header-title {
  color: white;
}

main {
  display: flex;
  justify-content: space-between;
}

#evaluation-form {
  margin-top: 20px;
  margin-left: 8%;
  display: flex;
  width: 100%;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
  margin-right: 8%;
  margin-top: 5%;
}

#evaluation-form div {
  display: flex;
}

#family-options {
  display: flex;
  flex-direction: column;
}

.trybewarts-header-logo {
  max-height: 100px;
  margin-left: 20px;
}

#email , #password {
  font-weight: 700;
  font-family: Noto serif, serif;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
}

#login-button {
  font-weight: 700;
  font-family: Noto serif, serif;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-right: 20px;
  width: 170px;
  background-color: rgb(78, 44, 131);
  color: white;
}

form span h1 {
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  width: 658px;
}

#name-complete input , #input-email {
  font-weight: 700;
  font-family: Noto serif, serif;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
  margin-bottom: 15px;
  width: 315px;
}

#email-house {
  display: flex;
  align-items: center;
}

#email-house select {
  background-color: white;
  font-weight: 700;
  font-family: Noto serif, serif;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 285px;
}

#email-house span {
  height: 83%;
  margin-right: 5px;
}

#what-family , #what-content {
  display: flex;
  flex-direction: column;
}

#what-content {
  margin-left: 5%;
}

#what-family {
  width: 40%;
}

#radios-checks {
  width: 700px;
}

#checkbox-options {
  display: flex;
  flex-wrap: wrap;
}

.contents {
  width: 120px;
}

#avaliation #note {
  margin-left: 10px;
}

#accept-info {
  align-items: center;
}

textarea {
  border: 1px solid rgb(78, 44, 131);
  border-radius: 3px;
  width: 700px;
  height: 100px;
  margin-bottom: 10px;
}

#counter {
  background-color: white;
  width: 34px;
  height: 24px;
  position: absolute;
  margin-left: 670px;
  margin-top: 80px;
  border-radius: 3px;
}

#submit-btn {
  background-color: rgb(78, 44, 131);
  color: white;
  font-weight: 700;
  font-family: Noto serif, serif;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 5%;
  width: 705px;
}


p {
  background-color: rgb(239, 239, 239);
  border: 2px solid rgb(78, 44, 131);
  border-radius: 3px;
  padding: 0 10px;
  width: 95%;
}

footer {
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(60, 64, 74);
  color: white;
  height: 45px;
}

footer p {
  background-color: rgb(60, 64, 74);
  border: none;
}

#house-before p {
  width: 95%;
}
